body {
    font-family: verdana, sans-serif;
    background: #555555;
    font: inherit;
    color: white;
}

a {
   color: lightblue;
}

h1 > a {
   position: absolute;
   left: 10px;
}

span {
      position: absolute;
      left: 10px;
}
img {
     max-width: 30%;
}

#page{
      max-height: 800px;
      text-align: center;
}
