body {
    font-family: verdana, sans-serif;
    background: #555555;
    font: inherit;
    color: white;
}

a {
   color: lightblue;
}

a[download] {
   text-decoration: none;
}

h1 > a {
   position: absolute;
   left: 10px;
}

span {
      position: absolute;
      left: 10px;
      margin-top: -30px;
}
img {
     max-width: 30%;
}

#page{
      min-height: calc(100vh - 250px);
      text-align: center;
}
/* A div for links */
div.links{
    right:5px;
    position:absolute;
    background-color: khaki;
    border: green 2px solid;
    padding: 2px;
}

div.links > a{
      color: blue;
}
div.previous,
div.picture,
div.next{
    display: inline;
    position: relative;
}

div.arrow{
    position:absolute; 
    display:inline;
    bottom:-90px; 
    font-size:100px
}

div.arrow1{
    left:0px;
}

div.arrow2{
    right:0px;
}

div:not(.picture) > a img:hover{
    position: relative;
    top: -5px;
    right: -2px;
}

@keyframes lefttoleft{
  from {
    left: 0px;
  }

  to {
    left: -10px;
  }
}
div.arrow1:hover,
div.previous:hover div.arrow1{
    animation-duration: 0.5s;
    animation-name: lefttoleft;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes righttoright{
  from {
    right: 0px;
  }

  to {
    right: -10px;
  }
}
div.arrow2:hover,
div.next:hover div.arrow2{
    animation-duration: 0.5s;
    animation-name: righttoright;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
